@font-face {
  font-family: 'MochiyPopPOne';
  src: local('MochiyPopPOne'), url(~assets/MochiyPopPOne-Subset.ttf) format('truetype');
}

body {
  font-family: 'MochiyPopPOne';
  font-display: swap;
}
